<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Metadata Microservice</title>
  <link rel="stylesheet" href="/public/style.css">
</head>

<body>
  <header>
    <div class="top-bar"></div>
    <div class="title">
      <h1>
        File Metadata Microservice
      </h1>
    </div>
  </header>
  <main>
    <div class="content">
      <h2>Upload a File to Receive File Information (Name, Size, and Type)</h2>
      <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
        <input id="inputfield" type="file" name="upfile">
        <input id="button" type="submit" value="Upload">
      </form>
    </div>
  </main>
</body>

</html>
